flow.json
[{"id":"4062c02a.d9d798","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a193ca14.f8534","type":"subflow","name":"Read and parse","info":"","in":[{"x":120,"y":360,"wires":[{"id":"ad33500e.c94a78"}]}],"out":[{"x":1220,"y":360,"wires":[{"id":"271de37a.d2b00c","port":0},{"id":"5494c16a.8d08f8","port":0}]}]},{"id":"5df2864.2bcb5f8","type":"file in","z":"a193ca14.f8534","name":"","filename":"","format":"utf8","chunk":false,"sendError":true,"x":410,"y":360,"wires":[["f8705b50.b7512"]]},{"id":"ad33500e.c94a78","type":"template","z":"a193ca14.f8534","name":"File name","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/Users/matus/Projects/mt-blanc-2018/data/{{payload}}.xml","output":"str","x":260,"y":360,"wires":[["5df2864.2bcb5f8"]]},{"id":"eef40fb4.4ed59","type":"xml","z":"a193ca14.f8534","name":"","property":"payload","attr":"","chr":"","x":710,"y":360,"wires":[["e0fe9456.142cb8"]]},{"id":"271de37a.d2b00c","type":"function","z":"a193ca14.f8534","name":"Parse","func":"let fiche = msg.payload.d.fiche[0];\n\nfunction toSeconds(tps) {\n    var a = tps.split(':');\n    return (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);\n}\n\nlet stages = fiche.pass[0].e.map((pass, i) => {\n    let desc = fiche.pts[0].pt[i].$;\n    \n    \n    \n    return {\n        km: parseFloat(desc.km),\n        altitude: parseFloat(desc.a),\n        lat: parseFloat(desc.lat),\n        lon: parseFloat(desc.lon),\n        name: desc.n,\n        \n        time: pass.$.tps,\n        timeSeconds: toSeconds(pass.$.tps),\n        at: pass.$.ha,\n        rank: parseInt(pass.$.clt),\n        \n        tn: parseFloat(pass.$.tn),\n        tnp: parseFloat(pass.$.tnp),\n        ja: pass.$.ja,\n    }\n})\n\nlet history = [];\nif (fiche.palm && fiche.palm[0].e) {\n    history = fiche.palm[0].e.map(historyItem => {\n        return {\n            race: historyItem.$.race,\n            position: parseInt(historyItem.$.pos),\n            distance: parseFloat(historyItem.$.dist),\n            year: parseInt(historyItem.$.year),\n            time: historyItem.$.tps,\n            timeSeconds: toSeconds(historyItem.$.tps),\n        };\n    });\n}\n\n\nmsg.payload = {\n    id: parseInt(fiche.$.doss),\n    firstName: fiche.identite[0].$.prenom,\n    surname: fiche.identite[0].$.nom,\n    club: fiche.identite[0].$.club,\n    category: fiche.identite[0].$.cat,\n    sex: fiche.identite[0].$.sx,\n    ageGroup: fiche.identite[0].$.descat,\n    country: fiche.identite[0].$.cio,\n    city: fiche.identite[0].$.ville,\n    nationality: fiche.identite[0].$.nat,\n    race: fiche.$.c,\n    stages: stages,\n    previous: history\n}\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":360,"wires":[[]]},{"id":"e0fe9456.142cb8","type":"switch","z":"a193ca14.f8534","name":"Valid?","property":"payload.d.fiche","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":360,"wires":[["271de37a.d2b00c"],["5494c16a.8d08f8"]]},{"id":"f8705b50.b7512","type":"switch","z":"a193ca14.f8534","name":"Found?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":360,"wires":[["eef40fb4.4ed59"],["5494c16a.8d08f8"]]},{"id":"5494c16a.8d08f8","type":"change","z":"a193ca14.f8534","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":420,"wires":[[]]},{"id":"9b28017d.08eb88","type":"http request","z":"4062c02a.d9d798","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1190,"y":120,"wires":[["a3371345.c2d548"]]},{"id":"837f5e0e.f03a78","type":"inject","z":"4062c02a.d9d798","name":"","topic":"","payload":"6759","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":80,"wires":[["80dda4a1.ec2018"]]},{"id":"2e86d6de.a4a2a2","type":"template","z":"4062c02a.d9d798","name":"URL","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://mbm.livetrail.net/coureur.php?rech={{payload}}","output":"str","x":1030,"y":120,"wires":[["9b28017d.08eb88"]]},{"id":"5b9db818.799b3","type":"file","z":"4062c02a.d9d798","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1510,"y":120,"wires":[]},{"id":"a3371345.c2d548","type":"template","z":"4062c02a.d9d798","name":"File name","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/Users/matus/Projects/mt-blanc-2018/data/{{number}}.xml","output":"str","x":1360,"y":120,"wires":[["5b9db818.799b3"]]},{"id":"80dda4a1.ec2018","type":"change","z":"4062c02a.d9d798","name":"","rules":[{"t":"set","p":"number","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":120,"wires":[["2e86d6de.a4a2a2"]]},{"id":"36dd1477.32f444","type":"function","z":"4062c02a.d9d798","name":"0 - 5000","func":"let numbers = [];\n\nfor (let i = 0; i < 5000; i++) {\n    numbers.push(i);\n}\n\nmsg.payload = numbers;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["30a6cbca.c8af7c"]]},{"id":"22d29123.b838fe","type":"debug","z":"4062c02a.d9d798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":160,"wires":[]},{"id":"9cb51417.980528","type":"inject","z":"4062c02a.d9d798","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":118,"wires":[["36dd1477.32f444"]]},{"id":"30a6cbca.c8af7c","type":"split","z":"4062c02a.d9d798","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":120,"wires":[["c58f3781.caa088"]]},{"id":"c58f3781.caa088","type":"delay","z":"4062c02a.d9d798","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":120,"wires":[["22d29123.b838fe","80dda4a1.ec2018"]]},{"id":"6bc28e9a.8a6e9","type":"inject","z":"4062c02a.d9d798","name":"","topic":"","payload":"7399","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["568320b.421726"]]},{"id":"68096002.3e7be","type":"debug","z":"4062c02a.d9d798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":340,"wires":[]},{"id":"d483c006.b0e4d","type":"inject","z":"4062c02a.d9d798","name":"","topic":"","payload":"6759","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["568320b.421726"]]},{"id":"6980a5d7.438244","type":"inject","z":"4062c02a.d9d798","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["568320b.421726"]]},{"id":"b06cf1bd.5cf6c8","type":"inject","z":"4062c02a.d9d798","name":"","topic":"","payload":"57187","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["568320b.421726"]]},{"id":"568320b.421726","type":"subflow:a193ca14.f8534","z":"4062c02a.d9d798","name":"","x":460,"y":340,"wires":[["68096002.3e7be"]]},{"id":"7ec652cc.ef3db4","type":"function","z":"4062c02a.d9d798","name":"0 - 7400","func":"let numbers = [];\n\nfor (let i = 0; i < 7400; i++) {\n    numbers.push(i);\n}\n\nmsg.payload = numbers;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["90da07df.f81768"]]},{"id":"838a4254.fb8f48","type":"inject","z":"4062c02a.d9d798","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":498,"wires":[["7ec652cc.ef3db4"]]},{"id":"90da07df.f81768","type":"split","z":"4062c02a.d9d798","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":500,"wires":[["bec21f2f.58c47"]]},{"id":"bec21f2f.58c47","type":"subflow:a193ca14.f8534","z":"4062c02a.d9d798","name":"","x":640,"y":500,"wires":[["3dbdc23f.41abfe"]]},{"id":"3dbdc23f.41abfe","type":"join","z":"4062c02a.d9d798","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":815,"y":501,"wires":[["3d2e007f.b7127"]]},{"id":"3d2e007f.b7127","type":"function","z":"4062c02a.d9d798","name":"Filter not null","func":"msg.payload = msg.payload.filter(i => i);\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":500,"wires":[["3930dc5f.61b394"]]},{"id":"3930dc5f.61b394","type":"json","z":"4062c02a.d9d798","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":500,"wires":[["de82ba3f.ed35c8"]]},{"id":"de82ba3f.ed35c8","type":"file","z":"4062c02a.d9d798","name":"","filename":"/Users/matus/Projects/mt-blanc-2018/data/complete.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1433,"y":500,"wires":[]}]